CompileFlags:
  Add:
    - -std=c++20
    - -Iembedded/compat
    - -I.
    - -Iembedded
    - -Iembedded/dsp
    - -Iembedded/fusion
    - -Iembedded/audio
    - -Iembedded/runtime
    - -Wno-unknown-pragmas
